.button {
  outline: 1px solid black;
  cursor: pointer;
  text-align: center;
  background-color: white;
}

.button:hover {
  background-color: lightpink;
}

/**
 * Custom styles for the instance. If this was a real styleguide we would
 * figure out a proper solution instead
 */
.button {
  z-index: 1;
}
