.word {
  padding: 0 2px;
  line-height: 1.3;
  cursor: default;
}

.word.active:before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 20px;
  background-color: black;
}

.word.active {
  background: black;
  color: white;
}
